@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Fira Sans', sans-serif;
}
:root{
    --bg-clr:#000000;
    --primary-clr:#FFFFFF;
    --btn-clr:#FCA311;
    --secondary-clr:#E5E5E5;
    --active-nav-links:#14213D;
}

body{
    background-color: var(--bg-clr);
}
header{
    display: flex;
    align-items: center;
    padding: 20px 15px;
    gap:100px;
    justify-content: center;
}
h1{
    color: var(--primary-clr);
    font-size: 46px;
}
.dias{
    color: var(--btn-clr);
}
.nav-links{
    color: var(--primary-clr);
    text-decoration: none;
    font-size: 22px;
}
nav{
    display: flex;
    gap:40px;
}
.reach-me-btn{
    background-color: var(--btn-clr);
    color:var(--active-nav-links) ;
    width: 200px;
    height: 70px;
    font-size:30px ;
    border-radius: 18px;
    border: none;
    font-weight:bold;
}
p{
    font-size: 22px;
    color:var(--secondary-clr);
    line-height: 38px;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.container{
    max-width: 800px;
    width: auto;
    max-height: 800px;
    height: auto;
    padding: 10px 85px ;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main-image{
    max-width: 700px;
    width: 700px;
    max-height: 700px;
    height: 700px;
    margin: 0;
}
.second-section{
    display: flex;
    flex-direction: column;
    gap:32px;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
}
.second-section p{
    font-size: 25px;
}
.third-section{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: auto;
    gap:25px;
}
.tech-stacks img{
    width: 250px;
    height: 250px;
}
.tech-stacks{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}
.wordpress img {
    width: 275px;
    height: 275px;
}
.percentage{
    color:var(--primary-clr);
    font-size: 40px;
    font-weight: bold;
}
.tech-stacks div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    gap:25px;
}
.wordpress div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    gap:30px
}
.forth-sectipon h1{
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.forum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    margin:0;
    padding-top: 40px;
    
}
.forum-item{
    color: var(--primary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 28px;
    text-align: center;
}
.forum-item input{
    background-color: var(--primary-clr);
    width: 350px;
    height: 50px;
    border-style: none;
    border-radius: 50px;
}
#matter {
    width: 350px;
    height:200px ;
    border-radius: 50px;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  input{
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .submit-btn{
    background-color: var(--btn-clr);
    color:var(--active-nav-links) ;
    width: 200px;
    height: 70px;
    font-size:30px ;
    border-radius: 18px;
    border: none;
    font-weight:bold;
    margin-left: 110px;
  }

.fifth-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:55px;
    padding-top: 85px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
}
.list-items{
    color: var(--secondary-clr);
    list-style: none;
    display: flex;
    font-size: 28px;
    justify-content: flex-start;
    gap: 10px;
    
}
.list-items img{
    width: 40px;
    height:40px;
   
}
.service-list{
    display: flex;
    flex-direction: column;
    gap:35px;
}
footer{
    margin: 0;
    min-height: 400px;
    background-color: var(--btn-clr);
    display: flex;
    flex-direction: column;
    gap:38px
}
.footer-links a{
    color: var(--bg-clr);   
}
.f-logo h1{
    display: flex;
    justify-content: center;
    padding: 48px;
}
.f-dias{
    color:var(--bg-clr)
}
.nav-links-f{
    text-decoration: none;
    font-size: 22px;
}
.footer-links div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

@media (min-width: 320px) and (max-width: 480px) {
    /* Styles for mobile devices */
    h1{
        font-size: 30px;
        line-height: 50px;
    }
    .logo{
        padding-left: 30px;
    }
    nav{
        display: none;
    }
    .reach-me-btn{
        scale: 0.6;
    }
    .hero-section{
        display: flex;
        flex-direction: column;
        padding-top: 32px;
        margin: 0;
    }
    p{
        font-size: 18px;
       
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0;
    }
    .main-image{
        scale: 0.7;
    }
   #second-section-p{
    font-size: 18px;
   }
   .tech-stacks{
    display: flex;
    flex-direction: column;
   }
   .wordpress{
    scale: 0.9;
   }
   .forum{
    scale: 0.8;
   }
   .list-items{
    font-size: 18px;
    line-height: 28px;
   }
   .list-items img{
    scale: 0.7;
   }
   

  }
  
